<%- include("partials/header.ejs"); -%>
<body class="azkarbgN">

  <nav class="navnight navbar navbar-expand-lg  shadow">
    <a class="navbar-brand azkartime" href="/">Easy Azkar</a>
    <p class="pgNo"><%=pgNo%>/18</p>
    <audio id="audio">
    <source src="/sounds/<%=aud%>"  type="audio/mp3">
    </audio>

<img id="but" src="/sounds/play.png" onclick="handlePlay()">
</nav>
<div class="cont0">

<div class="cont1">
<p class="NNo"><%=num%></p>
</div>

<div class="Ncont2">
<p class="Nzikar"><%=azkar%></p>
</div>



<div class="cont3">
<p class="Ntrans"><%=trans%></p>

</div>
<div class="cont4">
<p class="Nref"><%=ref%></p>

</div>
</div>




 <a href="/night/<%=prev%>"<i class="NL fix  fas fa-chevron-left"></i></a>


<% if(pgNo!=18){ %>
<a href="/night/<%=pgNo%>"><i class="NL fix fas fa-chevron-right"></i></a>
<%}%>



<footer id="footer" class="Nfoot fixed-bottom"></footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

document.getElementById("audio").addEventListener("ended",function(){

  $("img").attr("src", "/sounds/play.png");
});


function handlePlay() {



  if((document.getElementById("audio").paused)    )
  {
    $("img").attr("src", "/sounds/stop.png");
    document.getElementById("audio").play();
  } else {
$("img").attr("src", "/sounds/play.png");
document.getElementById("audio").pause();
document.getElementById("audio").currentTime =0;
  }
}
</script>
</body>
